#indexBackground {
  height: 100%;
  background-image: url("../images/concert.jpeg");
  background-size: cover;
}

#resultsBackground {
  height: 100%;
  background-image: url("../images/rager.jpeg");
  background-size: cover;
}

#upcomingConcertsBackground {
  height: 100%;
  background-image: url("../images/symphony.jpeg");
  background-size: cover;
}

#favArtistsBackground {
  height: 100%;
  background-image: url("../images/club.jpeg");
  background-size: cover;
}

#box-style {
  background-image: linear-gradient(blue, white);
  margin-top: 50px;
  border-radius: 5px;
}

#card-style {
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

#text-style {
  font-size: 20px;
  margin: 20px;
}

#text2-style {
  font-size: 25px;
  margin-bottom: 15px;
}

#boxTwo-style {
  background-image: linear-gradient(red, white);
  margin-top: 50px;
  border-radius: 5px;
}

#boxThree-style {
  background-image: linear-gradient(green, white);
  margin-top: 50px;
  border-radius: 5px;
}

#boxFour-style {
  background-image: linear-gradient(gold, white);
  margin-top: 50px;
  border-radius: 5px;
  border: 5px solid rgb(182, 155, 4);
}

#boxFour-text {
  font-size: 23px;
}

#artistImage {
  margin-left: 20px;
}

.row {
  margin-left: 20px;
}

#text-style {
  margin-left: -5px;
}

#searchBtn {
  margin-top: 15px;
}

#svfvBtn {
  border: 2px solid red;
  background-color: rgb(243, 215, 54);
  margin-top: 15px;
}
